.root {
  padding: 100px;
}

.color {
  color: turquoise;
  text-transform: uppercase;
}

.vote-flex {
  display: flex;
  justify-content: center;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: darkturquoise;
  margin: 10px;
  flex-basis: 25%;
}

.vote-candidate {
  font-size: xxx-large;
  text-transform: uppercase;
  color: white;
}

.vote-count {
  font-size: x-large;
  color: white;
}