.root {
  padding: 100px;
}

.color {
  color: turquoise;
}

.vote-flex {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: darkturquoise;
  margin: 10px;
  width: 250px;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

